.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: #1f4e5f;
  border-top: 2px solid #aacfd0;
}

.footer>input {
  flex-grow: 1;
  margin: 0;
  padding: 8px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.footer>button {
  cursor: pointer;
  margin: 0;
  padding: 8px;
  color: #aacfd0;
  background-color: #1f4e5f;
  border: none;
  border-radius: 0 10px 10px 0;
}